<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
         <head>
                  <title>Adicionar Filme</title>
         </head>
         <body>
            <h1>Cadastrar Novo Filme</h1>
                  <form action="/filmes/cadastrar" method="post">
                           <input type="text" name="titulo" placeholder="Título" required>
                           <input type="text" name="sinopse" placeholder="Sinopse" required>
                           <input type="text" name="genero" placeholder="Gênero" required>
                           <input type="number" name="ano" placeholder="Ano de lançamento" required>
                           <button type="submit">Cadastrar Filme</button>
                  </form>
         </body>
</html>